* {
    margin: 0;
}

html{
    background-color: black;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    opacity: 0.9;
    text-align: center;
}

body, a {
    color: seashell;
}

h2, h3, h4, h5, p {
    padding: 10px;
}

header, .banner-text, .location-box {
    background-color: rgba(0, 0, 0, 0.7);
}

header {
    position: fixed;
    width: 100%;
    min-height: 69px;
    border-bottom: 1px solid seashell;
    z-index: 1;
}

.navbar, .navbar ul, .banner, .flex-products, .location-wrapper, #locations, .location-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar {
    box-sizing: border-box;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.navbar ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.navbar li {
    padding: 10px;
}

.navbar .logo{
    height: 50px;
}

main {
    position: relative;
    top: 69px;
    width: 100%;
}

main section{
    margin: 0 auto 30px auto;
}

.banner {
    min-height: 700px;
    background: url('../images/img-mission-background.jpeg') center no-repeat;
    align-items: center;
    margin-bottom: 2em;
}

.banner-text {
    width: 1200px;
}

#featured {
    width: 70%;
}

.product {
    padding: 10px;
}

.product img {
    width: 300px;
    height: 200px;
}

#locations {
    min-height: 500px;
    background: url('../images/img-locations-background.jpeg') center no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.location-wrapper {
    width: 1200px;
}

#locations h2 {
    margin-bottom: 15px;
    padding: 0;
    width: 1200px;
}

.location-box {
    margin: 2em auto;
    opacity: 0.9;
    width: 300px;
    align-items: center;
}

.location-box p{
    width: 100%;
}

#contact {
    height: 200px;
}

footer {
    text-align: left;
    padding-left: 20px;
}

.btn {
    padding: 20px;
    width: 200px;
    border: none;
    text-decoration: none;
    font-size: 16px;
    margin: auto;
}

.primary {
    background-color: #2C2C54;
    color: #F49D6E;

}
.primary:hover{
    background-color: #F49D6E;
    color: #2C2C54;
    box-shadow: 0 0 12px 4px slategrey;
}

.secondary {
    background-color: #A40E4C;
    color: #ACC3A6;
}
.secondary:hover{
    background-color: #ACC3A6;
    color: #A40E4C;
    box-shadow: 0 0 12px 4px slategrey;
}